.covid-19-cases {
  .countries {
    overflow-y: auto;
    height: 74vh;
    .country-block {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
        color: black;
      }
      .country {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flag {
          width: 30px;
        }
      }
      .details {
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .cases {
          color: gray;
        }
        .deaths {
          color: #bf0909;
        }
        .recovered {
          color: #138750;
        }
      }
    }
  }

  .summary {
    height: 74vh;
    .card-body {
      height: 100%;
      .cases-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        .column {
          padding: 15px;
          min-width: 180px;
          text-align: center;
          border-radius: 5px;
          word-wrap: break-word;
          &.recovered {
            background: #138750;
          }
          &.cases {
            background: #04779e;
          }
          &.deaths {
            background: #bf0909;
          }
          &.active {
            background: #d19b05;
          }
          &.critical {
            background: #9e0450;;
          }
          &.tests {
            background: #d0d0b1;
          }
          div:first-child {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
          }
          div:last-child {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .charts {
    height: 74vh;
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.card-header {
  background-color: #808080;
  font-size: 20px;
  font-weight: bold;
  border-bottom: none;
  padding: 15px;

  .flag {
    width: 50px;
  }
}

.card-body {
  // TODO not sure what back
  background: #353535;
  color: white;
}

.card {
  height: 100%;
}
