<div class="container-fluid covid-19-cases">
  <div class="row">
    <div class="col-3 countries p-0">
      <div class="card">
        <div class="card-header">
          <span class="fas fa-globe mr-2"></span>
          <span>Countries</span>
        </div>
        <div class="card-body" *ngFor="let covidCase of covidCases">
          <div class="country-block" (click)="onCountrySelect(covidCase)">
            <div class="country">
              <img class="flag" [src]="covidCase.countryInfo.flag" alt="Flag of {{covidCase.country}}">
              <span>{{covidCase.country}}</span>
            </div>
            <div class="details">
              <span class="mr-2">Total cases</span>
              <span class="mr-2">| Recovered</span>
              <span>| Deaths</span>
            </div>
            <div class="details">
              <span class="cases mr-2">{{covidCase.cases || 0}}</span>
              <span class="recovered mr-2">| {{covidCase.recovered || 0}}</span>
              <span class="deaths">| {{covidCase.deaths || 0}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 summary p-0">
      <div class="card">
        <div class="card-header">
          <img *ngIf="selectedCountry?.countryInfo?.flag" class="flag mr-2" [src]="selectedCountry?.countryInfo?.flag" alt="Flag of {{selectedCountry?.country}}">
          <span>{{selectedCountry?.country || 'Summary'}}</span>
        </div>
        <div class="card-body">
          <div class="cases-header">
            <div class="column cases">
              <div>Total Cases</div>
              <div>{{ selectedCountry?.cases | number }}</div>
            </div>
            <div class="column recovered">
              <div>Total Recovered</div>
              <div>{{ selectedCountry?.recovered | number }}</div>
            </div>
            <div class="column deaths">
              <div>Total Deaths</div>
              <div>{{ selectedCountry?.deaths | number }}</div>
            </div>
          </div>
          <div class="cases-header">
            <div class="column active">
              <div>Active cases</div>
              <div>{{ selectedCountry?.active | number }}</div>
            </div>
            <div class="column critical">
              <div>In Critical</div>
              <div>{{ selectedCountry?.critical | number }}</div>
            </div>
            <div class="column tests">
              <div>Total Tests</div>
              <div>{{ selectedCountry?.tests | number }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 p-0">
      <div class="card">
        <div class="card-header">
          <span class="fas fa-chart-line mr-2"></span>
          <span>Charts</span>
        </div>
        <div class="card-body">
          <div id="chart" *ngIf="chartOptions && chartOptions.chart && chartOptions?.series && chartOptions?.responsive && chartOptions?.labels">
            <apx-chart
              [series]="chartOptions.series ?? []"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels ?? []"
              [responsive]="chartOptions.responsive ?? []">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
